body
{
	background-image: url("bg-pattern-top-desktop.svg"), url("bg-pattern-bottom-desktop.svg");
	background-repeat: no-repeat;
	background-position: left top, right bottom;
	height: 100vh;
	max-width: 100%;
	font-size: 15px;
	font-family: "Spartan";
}

main
{
	margin-left: 165px;
	margin-right: 165px;
	color: #541f53;
}

section
{
	display: flex;
	margin-top: 75px;
}

section > div
{
	flex-basis: 50%;
}

#info
{
	padding-right: 60px;
}

#info > p
{
	color:  #a19aa1;
}

h1
{
	font-size: 40px;
	padding-right: 100px;
}

p
{
	line-height: 2;
}

#ratings
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#ratings > :first-child
{
	position: relative;
	right: 42px;
}

#ratings > :nth-child(2)
{
	margin-top: 15px;
	margin-bottom: 15px;
}

#ratings > :nth-child(3)
{
	position: relative;
	left: 42px;
}

.rating
{
	background-color: #f7f2f8;
	border-radius: 10px;
	width: 82%;
	display: flex;
	align-items: center; 
}

.stars
{
	margin-left: 30px;
	margin-right: 30px;
}

.rev
{
	background-color: #541f53;
	border-radius: 10px;
	color: white;
}

#revs > :first-child
{
	position:relative;
	bottom: 15px;
}

#revs > :nth-child(2)
{
	margin-left: 20px;
	margin-right: 20px;
}

#revs > :nth-child(3)
{
	position: relative;
	top: 15px;
}

.rev_content
{
	margin: 25px;
}

.rev_content > p
{
	font-size: 12px;
}

.label
{
	display: flex;
	align-items: center;
}

.label > img
{
	border-radius: 50px;
	height: 45px;
	margin-right: 25px;
}

.name_tag > p
{
	color: #c477ab;
	font-size: 13px;
	margin:0;
}

.name_tag > h5
{
	margin: 0;
}

footer
{
	text-align: center;
	margin-top: 50px;
	font-size: 11px;
}