body .header, body .testimonials, body .footer {
  width: 87%;
  margin: 0 auto;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "League Spartan", sans-serif;
}

body {
  background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-color: white;
}

body .header {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

body .header__title {
  margin: 0 auto;
  max-width: 550px;
}

body .header__title h1 {
  color: #502050;
  font-size: 40px;
  line-height: 80%;
}

body .header__title p {
  margin-top: 1.5rem;
  color: #937b92;
}

body .header__ratings {
  margin-top: 2rem;
}

body .header__ratings .rating {
  background-color: #f7f2f7;
  margin: 1rem auto;
  border-radius: 10px;
  padding: 1rem;
  max-width: 500px;
}

body .header__ratings .rating p {
  color: #502050;
  font-weight: 700;
  margin-top: .5rem;
}

body .testimonials {
  margin: 3rem auto;
}

body .testimonials__wrapper {
  background-color: #502050;
  margin: 1rem 0;
  border-radius: 10px;
  padding: 2rem;
}

body .testimonials__wrapper .testimonial__userInfo {
  text-align: left;
  margin-bottom: 1rem;
}

body .testimonials__wrapper .testimonial__userPicture {
  width: 40px;
  border-radius: 100%;
  float: left;
  margin-right: 1rem;
}

body .testimonials__wrapper .testimonial__userName {
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

body .testimonials__wrapper .testimonial__userStatus {
  color: #ee68a4;
  font-weight: 400;
}

body .testimonials__wrapper .testimonial__text {
  color: white;
  text-align: left;
  font-weight: 400;
}

body .footer {
  color: #937b92;
}

body .footer a {
  color: #502050;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 500;
}

body .footer a:hover {
  color: #ee68a4;
}

@media only screen and (min-width: 900px) {
  html {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body {
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    padding: 3rem 6vw 0;
  }
  body .header {
    width: 100%;
    margin: 0 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .header__title {
    margin: 0;
    width: 40%;
    text-align: left;
  }
  body .header__title h1 {
    font-size: 50px;
  }
  body .header__ratings {
    margin: 0;
    width: 57%;
  }
  body .header__ratings .rating {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
    width: 90%;
  }
  body .header__ratings .rating__stars {
    margin: 0 2rem;
  }
  body .header__ratings .rating p {
    margin: 0;
  }
  body .header__ratings .rating:first-of-type {
    margin-bottom: 1rem;
    position: relative;
    right: 5%;
  }
  body .header__ratings .rating:last-of-type {
    margin-top: 1rem;
    position: relative;
    left: 5%;
  }
  body .testimonials {
    margin: 0 0 4rem;
    width: 100%;
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .testimonials__wrapper {
    width: 32%;
  }
  body .testimonials__wrapper:nth-of-type(2) {
    position: relative;
    top: 1rem;
  }
  body .testimonials__wrapper:last-of-type {
    position: relative;
    top: 2rem;
  }
}

@media only screen and (min-width: 1125px) {
  body {
    padding: 3rem 10vw 0;
  }
  body .header__ratings {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */