// Colors and ready chunks of style

$darkMagenta: hsl(300, 43%, 22%);
$pink: hsl(333, 80%, 67%);
$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);

%centered-content-block {
    width: 87%;
    margin: 0 auto;
    text-align: center;
}

// Styles - mobile first

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: "League Spartan", sans-serif;
}

body {
    background-image: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-color: white;

    .header {
        @extend %centered-content-block;
        margin-top: 4rem; 
        margin-bottom: 2rem;
        
        // This is the part of the header with text
        &__title {
            margin: 0 auto;
            max-width: 550px;
            h1 {
                color: $darkMagenta;
                font-size: 40px;
                line-height: 80%;
            }

            p {
                margin-top: 1.5rem;
                color: $darkGrayishMagenta;
            }
        }

        // This is the part of the header with the stars
        &__hiddenHeader {
            display: none;
        }

        &__ratings {
            margin-top: 2rem;

            .rating {
                background-color: $lightGrayishMagenta;
                margin: 1rem auto;
                border-radius: 10px;
                padding: 1rem;
                max-width: 500px;

                p {
                    color: $darkMagenta;
                    font-weight: 700;
                    margin-top: .5rem;
                }
            }
        }
    }

    // This is the section with people's reviews
    .testimonials {
        @extend %centered-content-block;
        margin: 3rem auto;

        &__hiddenHeader {
            display: none;
        }

        &__wrapper {
            background-color: $darkMagenta;
            margin: 1rem 0;
            border-radius: 10px;
            padding: 2rem;

            .testimonial {
                &__userInfo {
                    text-align: left;
                    margin-bottom: 1rem;
                }

                &__userPicture {
                    width: 40px;
                    border-radius: 100%;
                    float: left;
                    margin-right: 1rem;
                }
                
                &__userName {
                    color: white;
                    font-weight: 500;
                    font-size: 1rem;
                }

                &__userStatus {
                    color: $pink;
                    font-weight: 400;
                }

                &__text {
                    color: white;
                    text-align: left;
                    font-weight: 400;
                }
            }
        }
    }

    // This is pretty self explanatory
    .footer {
        @extend %centered-content-block;
        color: $darkGrayishMagenta;
        
        a {
            color: $darkMagenta;
            text-decoration: none;
            transition: .5s;
            font-weight: 500;

            &:hover {
                color: $pink;
            }
        }
    }
}

// Adjustment for desktop version

@media only screen and (min-width: 900px) {
    html {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    body {
        background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
        padding: 3rem 6vw 0;

        .header {
            width: 100%;
            margin: 0 0 2rem; 
            display: flex;
            justify-content: space-between;
            
            &__title {
                margin: 0;
                width: 40%;
                text-align: left;

                h1 {
                    font-size: 50px;
                }
            }
    
            &__ratings {
                margin: 0;
                width: 57%;
    
                .rating {
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    padding: 1rem 0;
                    width: 90%;

                    &__stars {
                        margin: 0 2rem;
                    }
    
                    p {
                        margin: 0;
                    }
                }

                .rating:first-of-type {
                    margin-bottom: 1rem;
                    position: relative;
                    right: 5%;
                }

                .rating:last-of-type {
                    margin-top: 1rem;
                    position: relative;
                    left: 5%;
                }
            }
        }
    
        .testimonials {
            margin: 0 0 4rem;
            width: 100%;
            clear: both;
            display: flex;
            justify-content: space-between;
    
            &__wrapper {
                width: 32%;
            }

            &__wrapper:nth-of-type(2) {
                position: relative;
                top: 1rem;
            }

            &__wrapper:last-of-type {
                position: relative;
                top: 2rem;
            }
        }
    }
}

@media only screen and (min-width: 1125px) {
    body {
        padding: 3rem 10vw 0;
        max-width: 1700px;
        margin: 0 auto;

        .header {
            &__ratings {
                width: 50%;
            }
        }
    }
}